.container > div:not(.nav),
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  color: #af7732;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 45vw auto;
      grid-template-columns: auto 45vw auto;
  -ms-grid-rows: auto 45vw auto;
      grid-template-rows: auto 45vw auto;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.box-top {
  border-bottom: 1px solid #af7732;
}

.box-left {
  border-right: 1px solid #af7732;
}

.box-bottom {
  border-top: 1px solid #af7732;
}

.box-right {
  border-left: 1px solid #af7732;
}

.nav__list:not(:last-child) {
  border-bottom: 1px solid #af7732;
}

.top-menu:hover,
.nav__list:hover {
  background-color: #af7732;
}

.top-menu:hover > span,
.nav__list:hover > span {
  color: white;
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes flow {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.exp {
  overflow: hidden;
}

.exp span {
  white-space: nowrap;
  -webkit-animation: flow 8s linear infinite;
          animation: flow 8s linear infinite;
}
